.request {
    grid-area: request;
    min-height: 956px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c-aqua-haze);
}

.requestHeader {
    margin: 0 0 64px;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    font-family: var(--f-bold);
}

.request__form {
    max-width: 456px;
    width: 100%;
    margin-bottom: 64px;
}

.request__formElement {
    margin-bottom: 32px;
}

.select__text {
    color: var(--c-dark-space-70);
}